<div class="row">
  <div class="container products-wrapper">
    <div class="row">
      <div class="col-12">
        <h2 class="products-title">Nuestros productos destacados</h2>
      </div>
      <% featured.forEach(product => { %>
      <div class="col-12 col-sm-6 col-lg-3">

        <section class="product-box">
          <!-- /products/:id -->
          <a href="/products/<%= product.id %>">
            <figure class="product-box_image">
              <img src="<%= getProductImagePath(product.image) %>" alt="imagen de producto">
            </figure>
            <article class="product-box_data">
              <h2>
                <%= toThousand(product.price - (product.price * product.discount / 100))  %>
              </h2>
              <% if (product.discount) { %>
              <span> <%= product.discount %>% OFF</span>
              <% } %>
              <p> <%= product.name %></p>
              <i class="fas fa-truck"></i>
            </article>
          </a>
        </section>
      </div>
      <% }) %>
      <!-- Show the "visited" products -->
    </div>
  </div>
</div>
