<div class="row">
  <div class="container products-wrapper">
    <div class="row">
      <div class="col-12">
        <h2 class="products-title">Nuestras ofertas del mes</h2>
      </div>
      <% ofertas.forEach(oferta => { %>
      <div class="col-12 col-sm-6 col-lg-3">

        <section class="product-box">
          <!-- /products/detail/1 -->
          <a href="/products/detail/<%= oferta.id %>">
            <figure class="product-box_image">
              <img src="/img/products/<%= oferta.image %>" alt="imagen de producto">
            </figure>
            <article class="product-box_data">
              <h2>
                <%= llevarAMil(oferta.price - (oferta.price * oferta.discount / 100))  %>
              </h2>

              <% if (oferta.discount) { %>
              <span> <%= oferta.discount %>% OFF</span>
              <% } %>

              <p> <%= oferta.name %></p>
              <i class="fas fa-truck"></i>
            </article>
          </a>
        </section>
      </div>
      <% }) %>
      <!-- Show the "visited" products -->
    </div>
  </div>
</div>
