<div class="container-fluid products-wrapper">

  <!-- Section title -->
  <div class="col-12 pl-0" >
    <h2 class="products-title"><%= sectionTitle %></h2>
    <hr class="line-title">
  </div>
  <!-- Section title -->

  <!-- Products Row -->
  <div class="row">
    <% if (products.length > 0) { %>
      <% products.forEach(product => { %>
    <div class="col-12 col-sm-6 col-lg-2">
      <section class="product-box">
        <a href="/products/<%= product.id %>">

              <!-- Product Image -->
              <figure class="product-box_image">
                <img src="<%= getProductImagePath(product.image) %>" alt="Imagen de producto">
              </figure>
              <!-- Product Image -->

              <!-- Product Details -->
              <article class="product-box_data">


                <h2>
                  $ <%= toThousand(Math.round(product.price - (product.price * product.discount / 100))) %>
                </h2>

                <% if (product.discount) { %>
                  <span class="badge badge-primary ml-2"><%= product.discount %>% OFF</span>
                  <% } %>

                  <p><%= product.name %></p>

                  <i class="fas fa-truck"></i>

                </article>
                <!-- Product Details -->

              </a>
            </section>
          </div>
          <% }) %>
          <% } else { %>
            <div><h5>No se encontraron artículos con los criterios seleccionados</h5></div>
          <% } %>
          </div>
        <!-- Products Row -->

      </div>
