<section class="row mt-3">

  <div class="col-12">
    <h2 class="text-primary font-weight-bold border-bottom border-primary"><%= sectionTitle %></h2>
  </div>

  <% if (products.length > 0) { %>
    <% products.forEach(product => { %>
      <div class="col-6 col-md-3 col-lg-2">
        <article class="article-item">
          <a href="/products/<%= product.id %>">
            <img class="article-item__image" src="<%= getProductImagePath(product.image) %>" alt="Imagen del producto">
            <div class="article-item__details article-details">
              <p class="article-details__price">
                $ <%= toThousand((product.price - (product.price * product.discount / 100)).toFixed(2)) %>
              </p>
              <% if (product.discount > 0) { %>
                <span class="badge badge-secondary"><%= product.discount %>% OFF</span>
              <% } %>
              <p class="article-details__name"><%= product.name %></p>
              <i class="fas fa-truck article-details__icon"></i>
            </div>
          </a>
        </article>
      </div>
    <% }) %>
  <% } else { %>
    <div class="col-12">
      <p>No se encontraron los artículos con los criterios seleccionados</p>
    </div>
  <% } %>

</section>
