<!-- Head -->
<%- include('partials/head', { title: 'Inicio' }) %>

<!-- Header -->
<%- include('partials/headerNavbar') %>

<div class="container-fluid">
  <!-- Carousel-->
  <%- include('partials/home/carousel') %>

  <!-- Productos de oferta-->
  <%- include('partials/home/section', { sectionTitle: 'Ofertas', products: sales }) %>

  <!-- Productos de Destacados-->
  <%- include('partials/home/section', { sectionTitle: 'Destacados', products: featured }) %>
</div>

<!-- footer-->
<%- include('partials/footer') %>
