<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('partials/head', { title: 'Inicio' }) %>

<body class="home-body">
  <!-- Header -->
  <%- include('partials/headerNavbar') %>
  <!-- /Header -->
  <!-- Carousel-->
  <%- include('partials/home/carousel') %>
  <!-- /Caurousel-->
  <!-- Productos de oferta-->
  <%- include('partials/home/ofertas') %>
  <!-- /Productos de oferta-->
  <!-- Productos de Destacados-->
  <%- include('partials/home/destacados') %>
  <!-- /Productos de oferta-->
  <!-- footer-->
  <%- include('partials/footer') %>
  <!-- /footer-->
  <%- include('partials/bootstrapScripts') %>
</body>

</html>
