<!-- Head -->
<%- include('partials/head', { title: 'Registro' }) %>

<!-- Header -->
<%- include('partials/headerNavbar') %>

<div class="container mt-5 mb-5">
  <div class="row">
    <!-- Inicio de sesión -->
    <%- include('partials/login/login') %>

    <!-- Registrar usuario -->
    <%- include('partials/login/register') %>
  </div>
</div>

<!-- Script de validación en front end y lista de errores -->
<script src="/js/modules/validator.min.js" type="text/javascript"></script>
<script src="/js/regLogValidations.js" type="module"></script>

<!-- Footer -->
<%- include('partials/footer') %>
