<!-- Head -->
<%- include('partials/head', { title: product.name }) %>

<!-- Header -->
<%- include('partials/headerNavbar') %>

<div class="container mt-5 mb-5">

  <!-- Product Details -->
  <div class="card">
    <div class="row">

      <!-- Product Image -->
      <div class="col-12 col-md-8">
        <img src="<%= getProductImagePath(product.image) %>"
             alt="Imagen del producto"
             class="card-img img-fluid">
      </div>
      <!-- Product Image -->

      <div class="col-12 col-md-4">
        <div class="card-body">

          <h2 class="card-title"><%= product.name %></h2>

          <!-- Product Price -->
          <div class="card-title">

            <h2>
              <strong>$ <%= product.price %></strong>

              <% if (product.discount > 0) { %>
                <span class="badge badge-primary ml-2"><%= product.discount %>% OFF</span>
              <% } %>
            </h2>

          </div>
          <!-- Product Price -->

          <p class="card-text"><%- newlineToBr(product.description) %></p>

          <!-- Add to cart button -->
          <form action="/cart/add" method="post">
            <button type="submit" class="btn btn-primary w-100"
              name="productId" value="<%= product.id %>">Agregar al carrito</button>
          </form>
          <!-- Add to cart button -->

          <% if (admin) { %>
            <!-- Edit product button -->
            <a href="/products/<%= product.id %>/edit" class="btn btn-outline-secondary w-100 mt-2">
              Editar producto
            </a>
            <!-- Edit product button -->

            <!-- Delete product button -->
            <form action="/products/<%= product.id %>?_method=DELETE" method="post" class="mt-2">
              <button type="submit" class="btn btn-outline-danger w-100">Borrar producto</button>
            </form>
            <!-- Delete product button -->
          <% } %>

        </div>
      </div>

    </div>
  </div>
  <!-- Product Details -->

</div>

<!-- Footer -->
<%- include('partials/footer') %>
