<!-- Head -->
<%- include('partials/head', { title: 'Registro' }) %>

<!-- Header -->
<%- include('partials/headerNavbar') %>

<div class="row mt-5 mb-5">
  <!-- Registración -->
  <%- include('partials/regLog/register') %>
  <!-- /Registracion -->

  <!-- Login -->
  <%- include('partials/regLog/login') %>
  <!-- /Login -->
</div>

<!-- Script de validación en front end y lista de errores -->
<script src="/js/regLogValidations.js" type="module"></script>

<!-- Footer -->
<%- include('partials/footer') %>
