<!-- Head -->
<%- include('partials/head', { title: 'Ver perfil de usuario' }) %>

<!-- Header -->
<%- include('partials/headerNavbar') %>

<div class="container mt-5 mb-5">
  <form id="userProfileFrom" action="/users/<%= user.id %>?_method=PUT" method="POST">
    <div class="row">
      <div class="col-12 mb-3">
        <h2>Perfil de Usuario</h2>
        <button type="submit" class="btn btn-primary" id="editButton">Editar</button>
      </div>
    </div>
    <div class="container">
      <!-- Name -->
      <div class="row mb-3">
        <label for="firstName-register">Nombre</label>
        <% let error %>
        <% if ((registrationErrors !== undefined) && (error = registrationErrors.find(error => error.param === 'firstName'))) { %>
        <input type="text" class="form-control is-invalid" id="firstName-register" name="firstName"
          placeholder="Ingrese su nombre" value="<%= user.firstName %>">
        <div class="invalid-feedback" id="msjFirstName-register"><%= error.msg %></div>
        <% } else { %>
        <input type="text" class="form-control" id="firstName-register" name="firstName" placeholder="Ingrese su nombre"
          value="<%= user.firstName %>" disabled>
        <div class="invalid-feedback" id="msjFirstName-register"></div>
        <% } %>
      </div>

      <!-- Last name -->
      <div class="row mb-3">
        <label for="lastName-register">Apellido</label>
        <% if ((registrationErrors !== undefined) && (error = registrationErrors.find(error => error.param === 'lastName'))) { %>
        <input type="text" class="form-control is-invalid" id="lastName-register" name="lastName"
          placeholder="Ingrese su apellido" value="<%= user.lastName %>">
        <div class="invalid-feedback" id="msjLastName-register"><%= error.msg %></div>
        <% } else { %>
        <input type="text" class="form-control" id="lastName-register" name="lastName" placeholder="Ingrese su apellido"
          value="<%= user.lastName %>" disabled>
        <div class="invalid-feedback" id="msjLastName-register"></div>
        <% } %>
      </div>

      <!-- Email -->
      <div class="row mb-3">
        <label for="email-register">Email</label>
        <% if ((registrationErrors !== undefined) && (error = registrationErrors.find(error => error.param === 'email'))) { %>
        <input type="email" class="form-control is-invalid" id="email-register" name="email" value="<%= user.email %>"
          disabled>
        <div class="invalid-feedback" id="msjEmail-register"><%= error.msg %></div>
        <% } else { %>
        <input type="email" class="form-control" id="email-register" name="email" value="<%= user.email %>" disabled>
        <div class="invalid-feedback" id="msjEmail-register"></div>
        <% } %>
      </div>

      <!-- Password -->
      <div class="row mb-3">
        <label for="password-register">
          Password / Si quiere cambiar su password, ingrésela y répitala.</label>
        <% if ((registrationErrors !== undefined) && (error = registrationErrors.find(error => error.param === 'password'))) { %>
        <input type="password" class="form-control is-invalid" id="password-register" name="password">
        <div class="invalid-feedback" id="msjPassword-register"><%= error.msg %></div>
        <% } else { %>
        <input type="password" class="form-control" id="password-register" name="password" disabled>
        <div class="invalid-feedback" id="msjPassword-register"></div>
        <% } %>
      </div>

      <!-- RepeatPassword -->
      <div class="row mb-3">
        <label for="passwordRepeat-register">Repita la contraseña</label>
        <% if ((registrationErrors !== undefined) && (error = registrationErrors.find(error => error.param === 'passwordRepeat'))) { %>
        <input type="password" class="form-control is-invalid" id="passwordRepeat-register" name="passwordRepeat">
        <div class="invalid-feedback" id="msjPasswordRepeat-register"><%= error.msg %></div>
        <% } else { %>
        <input type="password" class="form-control" id="passwordRepeat-register" name="passwordRepeat" disabled>
        <div class="invalid-feedback" id="msjPasswordRepeat-register"></div>
        <% } %>
      </div>
      <hr>
      <!-- Lista de compras -->
      <h2>Lista de artículos comprados</h2>
      <div class="row mb-3">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col1">#</th>
              <th scope="col2">Producto</th>
              <th scope="col3">Cantidad</th>
              <th scope="col4">Precio</th>
            </tr>
          </thead>
          <tbody>

            <% if(user.sales.length>0) {%>
            <% user.sales.forEach(sale => {%>
            <% sale.saleDetails.forEach(item => {%>
            <tr>
              <th scope="row"><%=item.id%></th>
              <td><%=item.product.name%></td>
              <td><%=item.amount%></td>
              <td><%=item.price%></td>
            </tr>
            <%});%>
            <%});%>
            <%}else{ %>
            <tr></tr>
            <th scope="row">s/d</th>
            <td>s/d</td>
            <td>s/d</td>
            <td>s/d</td>
            </tr>
            <%};%>

          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>

<!-- Script de validación en front end y lista de errores -->
<script src="/js/modules/validator.min.js" type="text/javascript"></script>
<script src="/js/profileValidations.js" type="module"></script>
<script src="/js/profile.js" type="module"></script>
<!-- Incluir el footer -->
<%- include('partials/footer') %>
